
<footer class="bg-gray-900 text-white py-4">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
      <div class="mb-4 md:mb-0 text-sm">
        © Copyright 2025 - Krishna Reddy
      </div>
      <div class="flex space-x-4">
        <a href="https://github.com/your-profile" target="_blank"   aria-label="GitHub" class="hover:text-red-400">
          <ng-icon name="bootstrapInstagram"></ng-icon>
        </a>
        <a href="https://linkedin.com/in/your-profile" target="_blank" aria-label="LinkedIn" class="hover:text-blue-400">
          <ng-icon name="bootstrapGithub"></ng-icon>
        </a>
        <a href="https://instagram.com/your-profile" target="_blank" aria-label="Instagram" class="hover:text-blue-400">
          <ng-icon name="bootstrapLinkedin"></ng-icon>
        </a>
      </div>
    </div>
  </footer>
  