<div class="flex text-white h-[80vh] justify-center relative z-10">
    <div class="max-w-[89vw] md:max-w-2xl lg:max-w-[60vw] flex flex-col justify-center items-center">
        <h2 class="uppercase tracking-widest text-xs text-center text-blue-100 max-w-80 ">
            Dynamic web magic with Angular 18
        </h2>
        <om-typewriter [@fadeIn] 
        class="font-bold mb-8 text-center text-[40px] md:text-5xl lg:text-6xl " 
        [disableLoop]="true"
        [words]="['Transforming Concepts into Seamless Experiences']"
        ></om-typewriter>
        <p class="text-center text-gray-300 md:tracking-wider mb-4 text-sm md:text-lg lg:text-2l" >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <om-shine-border borderRadius="9999px">
            <button class="border-none py-2 px-8">Show my work</button>

        </om-shine-border>
    </div>
</div> 