
<navbar></navbar>

<om-gridpattern styleClass="bg-dark-grids"> 
    <om-spotlight [animation]="true">
        <hero id="home"></hero>
    </om-spotlight>
</om-gridpattern>

<section class="absolute w-full h-full top-[80vh]">
    <work-experience id="experience">
        <title-header [titleHeader]="titleHeaders['work-experience']"></title-header>
    </work-experience>
    <projects id="projects">
        <title-header [titleHeader]="titleHeaders['projects']"></title-header>
    </projects>
    <tech-stack id="tech-stack">
        <title-header [titleHeader]="titleHeaders['tech-stack']"></title-header>
    </tech-stack>
    <about id="about"> 
        <title-header [titleHeader]="titleHeaders['about']"></title-header>
    </about>
    <ng-footer></ng-footer>
</section>

